* {
    font-family: 'Noto Sans JP', serif;
}
h1 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 5px;
    font-weight: bold;
}
h2 {
    text-decoration: underline;
}
h3 {
    font-style: italic;
}
h1 > img {
    width: 35px;
    margin-right: 10px;
}
.program.watching {
    border: 5px solid green;
}
.program {
    padding: 10px;
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.program-title {
    font-weight: bold;
    display: inline-block;
}
.program-channel {
    font-style: italic;
    color: grey;
}
.program-channel:before {
    content: "|";
    color: black;
    font-style: initial;
    padding: 5px;
}
.program-time, .program-channel {
    float: right;
}
.program-seperator {
    clear: both;
}
#login-wrapper, #break-cache-wrapper, #channels-wrapper {
    border: 2px dotted black;
    padding: 5px;
}
#login-wrapper {
    margin-top: 40px;
}
#break-cache-wrapper, #channels-wrapper {
    margin-top: 5px;
}
#update-info {
    margin-top: 20px;
}
#block-channel {
    margin-top: 10px;
}
#blocked-channels {
    margin-top: 10px;
}
.blocked-channel {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
}